In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [11]:
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
page = "https://www.transfermarkt.co.uk/tottenham-hotspur/alletransfers/verein/148"
pageTree = requests.get(page, headers=headers)
soup = BeautifulSoup(pageTree.content, 'html.parser')

In [12]:
Players = soup.find_all("a", {"class": "spielprofil_tooltip"})

Players[2].text

'Giovani Lo Celso'

In [13]:
Clubs = soup.find_all("a", {"class": "vereinprofil_tooltip"})
Clubs[1].text

'Real Betis'

In [14]:
Values = soup.find_all("td", {"class": "rechts"})

Values[8].text

'Loan fee:Â£2.70m'

In [15]:
tableHeads = soup.find_all("div", {"class": "table-header"})
tableHeads[3].text.replace("\n","").strip()

'Arrivals 21/22'

In [57]:
# Scraping Tottenham transfers all-time from transfermarkt.co.uk
# scraping tables tutorial: https://towardsdatascience.com/web-scraping-scraping-table-data-1665b6b2271c

boxes = soup.find_all("div", {"class": "box"})
#print("Number of boxes on page:", len(boxes))

headings=['trndesc','player','club_badge','club','fee']
all_rows = []

for i in range(4,len(boxes)-1):

    box1 = boxes[i]

    tableHead = box1.find_all("div", {"class": "table-header"})
    
    tableDesc = tableHead[0].text.replace("\n","").strip()
    #print(tableDesc)

    body = box1.find_all("tr")

    if body:
        head = body[0]
        body_rows = body[1:]


        for row_num in range(len(body_rows)-1):
            row = []
            row.append(tableDesc)
            for row_item in body_rows[row_num].find_all("td"):
                aa = row_item.text
                row.append(aa)
            all_rows.append(row)

Departures 21/22
Arrivals 20/21
Departures 20/21
Arrivals 19/20
Departures 19/20
Arrivals 18/19
Departures 18/19
Arrivals 17/18
Departures 17/18
Arrivals 16/17
Departures 16/17
Arrivals 15/16
Departures 15/16
Arrivals 14/15
Departures 14/15
Arrivals 13/14
Departures 13/14
Arrivals 12/13
Departures 12/13
Arrivals 11/12
Departures 11/12
Arrivals 10/11
Departures 10/11
Arrivals 09/10
Departures 09/10
Arrivals 08/09
Departures 08/09
Arrivals 07/08
Departures 07/08
Arrivals 06/07
Departures 06/07
Arrivals 05/06
Departures 05/06
Arrivals 04/05
Departures 04/05
Arrivals 03/04
Departures 03/04
Arrivals 02/03
Departures 02/03
Arrivals 01/02
Departures 01/02
Arrivals 00/01
Departures 00/01
Arrivals 99/00
Departures 99/00
Arrivals 98/99
Departures 98/99
Arrivals 97/98
Departures 97/98
Arrivals 96/97
Departures 96/97
Arrivals 95/96
Departures 95/96
Arrivals 94/95
Departures 94/95
Arrivals 93/94
Departures 93/94
Arrivals 92/93
Departures 92/93
Arrivals 91/92
Departures 91/92
Arrivals 90/91
Departures 90/91
Arrivals 89/90
Departures 89/90
Arrivals 88/89
Departures 88/89
Arrivals 87/88
Departures 87/88
Arrivals 86/87
Departures 86/87
Arrivals 85/86
Departures 85/86
Arrivals 84/85
Departures 84/85
Arrivals 83/84
Departures 83/84
Arrivals 82/83
Departures 82/83
Arrivals 81/82
Departures 81/82
Arrivals 80/81
Departures 80/81
Arrivals 79/80
Departures 79/80
Arrivals 78/79
Departures 78/79
Arrivals 77/78
Departures 77/78
Arrivals 76/77
Departures 76/77
Arrivals 75/76
Departures 75/76
Arrivals 74/75
Departures 74/75
Arrivals 73/74
Departures 73/74
Arrivals 72/73
Departures 72/73
Arrivals 71/72
Departures 71/72
Arrivals 70/71
Departures 70/71
Arrivals 69/70
Departures 69/70
Arrivals 68/69
Departures 68/69
Arrivals 67/68
Departures 67/68
Arrivals 66/67
Departures 66/67
Arrivals 65/66
Departures 65/66
Arrivals 64/65
Departures 64/65
Arrivals 63/64
Departures 63/64
Arrivals 62/63
Departures 62/63
Arrivals 61/62
Departures 61/62
Arrivals 60/61
Departures 60/61
Arrivals 59/60
Departures 59/60
Arrivals 58/59
Departures 58/59
Arrivals 57/58
Departures 57/58
Arrivals 56/57
Departures 56/57
Arrivals 55/56
Departures 55/56
Arrivals 54/55
Departures 54/55
Arrivals 53/54
Departures 53/54
Arrivals 52/53
Departures 52/53
Arrivals 51/52
Departures 51/52
Arrivals 50/51
Departures 50/51
Arrivals 49/50
Departures 49/50
Arrivals 48/49
Departures 48/49
Arrivals 47/48
Departures 47/48
Arrivals 46/47
Departures 46/47
Arrivals 44/45
Departures 44/45
Arrivals 43/44
Departures 43/44
Arrivals 40/41
Departures 40/41
Arrivals 39/40
Departures 39/40
Arrivals 38/39
Departures 38/39
Arrivals 37/38
Departures 37/38
Arrivals 36/37
Departures 36/37
Arrivals 34/35
Departures 34/35
Arrivals 33/34
Departures 33/34
Arrivals 32/33
Departures 32/33
Arrivals 30/31
Departures 30/31
Arrivals 1929/30
Departures 1929/30
Arrivals 1920/21
Departures 1920/21
Arrivals 1919/20
Departures 1919/20
Arrivals 1917/18
Departures 1917/18
Arrivals 1910/11
Departures 1910/11
Arrivals 1909/10
Departures 1909/10
Arrivals 1901/02
Departures 1901/02
Arrivals 1896/97
Departures 1896/97
Arrivals 1895/96
Departures 1895/96
Arrivals 1894/95
Departures 1894/95

In [58]:
df = pd.DataFrame(data=all_rows, columns=headings)
df.head()

            trndesc            player club_badge          club      fee
0  Departures 21/22        Danny Rose             Without Club        -
1  Departures 21/22   Paulo Gazzaniga             Without Club        -
2    Arrivals 20/21  Giovani Lo Celso               Real Betis  Â£28.80m
3    Arrivals 20/21   Sergio ReguilÃ³n              Real Madrid  Â£27.00m
4    Arrivals 20/21      Matt Doherty                   Wolves  Â£15.12m

In [60]:
df.to_csv('tottenham-transfers.csv', index=False)